VITE_FIREBASE_API_KEY=AIzaSyAEcNG7SBI1ppEh0IYGh7V--bBc6jzzpAk
VITE_FIREBASE_AUTH_DOMAIN=rtbs-b6bb8.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=rtbs-b6bb8
VITE_FIREBASE_STORAGE_BUCKET=rtbs-b6bb8.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=541813343961
VITE_FIREBASE_APP_ID=1:541813343961:web:37a36e28ceef6b721220c8
VITE_GOOGLE_MAPS_API_KEY=your_google_maps_api_key
